* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

body {
	width: 100vw;
}

::selection .highlight {
	background-color: hsla(280, 100%, 60%, 0.7);
}

/* logo */
#float-logo {
	position: fixed;
	width: 130px;
	height: 50px;
	right: 0;
	text-align: center;
	padding: 7px;
	background-color: hsl(280, 100%, 50%);
	padding-top: 8px;
	z-index: 1000;
	vertical-align: center;

	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

#float-username {
	position: fixed;
	height: 30px;
	right: 130px;
	padding: 5px;
	padding-right: 8px;
	padding-left: 12px;
	color: white;
	z-index: 3;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	background-color: hsl(280, 100%, 40%);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

#float-panel {
	display: none;
	position: fixed;
	width: 130px;
	right: 0;
	text-align: right;
	padding: 5px;
	padding-top: 55px;
	padding-right: 10px;
	font-size: 14px;
	background-color: hsla(280, 100%, 30%, 0.7);

	z-index: 2;

	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

/* version in logo, default h1 used for logo */
.version {
	border-bottom-style: solid;
	border-width: 1px;
	font-size: 7pt;
	color: #eee;
	text-align: center;
	padding-right: 0px !important;
	padding-bottom: 2px;
}

#float-panel > h2 {
	margin-top: 3px;
	font-size: 19px;
	text-align: right;
}


#users li {
	list-style-type: none;
}

.away {
	color: #FFCC00 !important;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: lightgray;
}

.online {
	color: #009933 !important;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: lightgray;
}



#msgs {
	position: fixed;
	padding: 0 8px;
}

/* messages divider */
/* don't touch this now. it fucking works...*/
#messages {
	position: fixed;
	padding-top: 10px;
	padding-bottom: 10px;
	bottom: 50px;
	width: 100%;
	max-height: calc(100% - 50px);
	list-style-type: none;
	overflow-y: scroll;
}

/* individual messages */
#messages li {
	display: inline;
	word-wrap: break-word;
	position: relative;
}

#messages li > div {
	margin-top: 6px;
	padding: 8px 10px;
	font-size: 14px;
	/*word-wrap: break-word;
	position: relative;*/
	float: left;
	clear: right;
	display: none;
	border-radius: 10px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	max-width: calc(100% - 105px);
}

/* Specific settings
   n: notification, j: join, l: leave, e: error 
   a: away; b: back;
   m: incoming msg, o: own, u: user highlight, 
   div settings
*/

/* reply messages */
.m {
	background-color: hsl(280, 100%, 95%);
	color: black;
}

/* li setting - all notifications */
.n {
	display: block;
	padding: 6px 8px !important;
	/*margin-left: 20px !important;*/
	clear: both !important;
	background-color: black !important;
	font-size: 9pt !important;
	color: white;
}

/* error message */
.e {
	background-color: red !important;
}

/* important message, references username */
.i {
	background-color: hsl(280, 20%, 100%);
}

.j {
	background-color: #009933 !important;
}

.l {
	background-color: #CC0000 !important;
}

.a {
	background-color: #FFCC00 !important;
}

.b {
	background-color: #0066FF !important;
}

/* own message */
.o {
	background-color: hsl(280, 100%, 50%);
}

/* username */
.u {
	padding: 2px;
	clear: both !important;
	color: black;
	width: 90px;
	margin-right: 5px; 
	text-align: right;
	padding: 9px 0px !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.invisible {
	color: transparent !important;
}

/* set previous message to .s if same person */
.same.u  {
	color: transparent !important;
}

/* decrease space if same person */
.same {
	margin-top: 2px !important;
}

/* own username */
.user {
	font-weight: bold;
}


/* new message indicator */
#newmsg {
	position: fixed;
	right: 10px;
	bottom: 0px;
	padding: 10px 10px;
	padding-top: 5px;
	font-size: 14px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	background-color: #FFCC00 !important;
	font-weight: bold;
}



/* input section */
#input {
	position: fixed;
	background-color: hsla(280, 100%, 20%, 1);
	height: 50px;
	width: 100%;
	bottom: 0;
	padding: 5px;
	padding-top: 7px;
	padding-right: 10px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
	color: grey;
} 

#input textarea {
	box-sizing: border-box;
	position: relative;
	padding: 10px;
	border-radius: 10px;
	border: none;
	background-color: hsl(280, 100%, 95%);
	width: calc(100% - 75px);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
	resize: none;
}

form button {
	border-radius: 20px;
	border: none;
	font-size: 18px;
	height: 37px;
	width: 70px;
	padding: 5px 15px;
	padding-top: 4px;
	padding-bottom: 6px;
	margin-left: 5px;
	background-color: hsl(280, 100%, 50%);
	float: right;
	color: white;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
}

form button:hover {
	background-color: hsl(280, 100%, 60%);
}

form button:active {
	font-size: 15px !important;
}