* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

img.emoji {
   height: 1.3em;
   width: 1.3em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

::selection .highlight {
	background-color: hsla(280, 100%, 60%, 0.7);
}

#top-gradient {
	position: fixed;
	background: transparent;
	/* Old Browsers */background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	 /* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
	/* Chrome, Safari4+ */background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	 /* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	 /* IE 10+ */background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
	/* IE6-9 */
	z-index: 5;
	width: 100%;
	height: 50px;
}

/* logo */
#float-logo {
	position: fixed;
	width: 130px;
	height: 50px;
	right: 0;
	text-align: center;
	padding: 7px;
	background-color: hsl(280, 100%, 50%);
	padding-top: 8px;
	z-index: 10;
	vertical-align: center;

	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	  cursor: pointer;
}

#float-username {
	position: fixed;
	height: 30px;
	right: -300px;
	padding: 5px;
	padding-right: 8px;
	padding-left: 12px;
	color: white;
	z-index: 8;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	background-color: hsl(280, 100%, 40%);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.changable {
	background-color: hsl(280, 100%, 60%) !important;
	cursor: pointer;
}

#change-tip {
	position: fixed;
	top: 32px;
	right: -150px;
	font-size: 14px;
	color: darkgrey;
}

#menu-tip {
	position: fixed;
	top: 52px;
	right: -150px;
	font-size: 14px;
	color: darkgrey;
}

.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

#float-panel {
	display: none;
	position: fixed;
	width: 130px;
	right: 0;
	text-align: right;
	padding: 5px;
	padding-top: 55px;
	font-size: 14px;
	background-color: hsla(280, 100%, 30%, 0.7);
	z-index: 9;

	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

/* version in logo, default h1 used for logo */
.version {
	font-size: 7pt;
	color: #eee;
	text-align: center;
	padding-right: 0px !important;
}

#float-panel > h2 {
	padding-left: 3px;
	margin-top: 3px;
	font-size: 19px;
	text-align: center;
	border-top-style: solid;
	border-width: 1px;
	padding-top: 3px;
}

#rooms {
	max-height: 500px;
	overflow: auto;
	padding-bottom: 6px;
	border-bottom-style: solid;
	border-width: 1px;
}

#rooms li {
	list-style-type: none;
	font-size: 13px;
	text-align: center;
}

.room {
	float: left;
	width: 85px;
	text-align: right;
}

.count {
	display: inline-block;
	color: black;
	background: white;
	border-radius: 5px;
	padding: 2px 4px;
	font-size: 9px;
	text-align: center;
	min-width: 17px;
	margin-left: 3px;
}

.red {
	color: #FF0000 !important;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: lightgray;
}

.green {
	color: #009933 !important;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: lightgray;
}

#hue-slider { //totally not skidded at all
	margin: 5px;
	margin-top: 8px;
	background: -moz-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    background: -ms-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    background: -o-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    background: -webkit-gradient(linear, left, right, from(#ff0000), color-stop(0.17, #ffff00), color-stop(0.33, #00ff00), color-stop(0.5, #00ffff), color-stop(0.67, #0000ff), color-stop(0.83, #ff00ff), to(#ff0000));
    background: -webkit-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    background: linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    cursor: pointer;
}

#hue-slider .ui-slider-range {
	background: transparent;
	border-width: 3px;
	cursor: pointer;
}





#msgs {
	position: fixed;
	padding: 0 8px;
}

/* messages divider */
/* don't touch this now. it fucking works...*/
#messages {
	position: fixed;
	padding-top: 25px;
	padding-bottom: 10px;
	bottom: 50px;
	width: 100%;
	max-height: calc(100% - 50px);
	list-style-type: none;
	overflow-y: auto;
}

/* individual messages */
#messages li {
	display: inline;
	word-wrap: break-word;
	position: relative;
}

#messages li > div {
	margin-top: 6px;
	padding: 8px 10px;
	font-size: 14px;
	/*word-wrap: break-word;
	position: relative;*/
	float: left;
	//clear: right;
	display: none;
	border-radius: 10px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	max-width: calc(100% - 130px);
}

/*
   m: incoming msg, o: own, u: user highlight, 
*/

/* li setting - all notifications */
.info {
	display: block;
	padding: 6px 8px !important;
	clear: both !important;
	background-color: black !important;
	font-size: 9pt !important;
	color: white;
}


/* normal (reply) messages */
.m {
	background-color: hsl(280, 100%, 95%);
	color: black;
	cursor: pointer;
}

/* important message, references username */
.i {
	background-color: hsl(280, 20%, 100%);
	cursor: pointer;
}

/* own message */
.o {
	background-color: hsl(280, 100%, 50%);
	cursor: pointer;
}

/* username */
.u {
	padding: 2px;
	clear: both !important;
	color: black;
	width: 70px;
	margin-right: 5px; 
	text-align: right;
	padding: 9px 0px !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	cursor: pointer;
}

/* own username */
.user {
	font-weight: bold;
}

.time {
	padding: 2px;
	padding-top: 10px !important;
	height: 16px !important;
	font-size: 12px !important;
	color: grey;
	clear: right !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	display: none;
}

/* set previous message to .s if same person */
.same.u  {
	color: transparent !important;
}

/* decrease space if same person */
.same {
	margin-top: 2px !important;
}


/* new message indicator */
#newmsg {
	position: fixed;
	right: 10px;
	bottom: 0px;
	padding: 10px 10px;
	padding-top: 5px;
	font-size: 14px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	background-color: #FFCC00 !important;
	font-weight: bold;
	cursor: pointer;
}



/* Notifications */
#notifications {
	width: 100%;
	color: white;
}

.error {
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: red !important;
	padding: 5px;
	color: white;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
	font-size: 14px;
	overflow: hidden;
}

#typing {
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 5px;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
	font-size: 12px;
	background-color: black;
}

#typing-users {
	word-wrap: normal;
	overflow: hidden;
    white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	max-width: calc(100% - 60px);
	padding-top: 2px;
	margin-bottom: -3px;
}

/* input section */
#input {
	position: fixed;
	background-color: hsla(280, 100%, 20%, 1);
	height: 50px;
	width: 100%;
	bottom: 0;
	padding: 5px;
	padding-top: 7px;
	padding-right: 10px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
	color: grey;
} 

#input textarea {
	box-sizing: border-box;
	position: relative;
	padding: 10px;
	border-radius: 10px;
	border: none;
	background-color: hsl(280, 100%, 95%);
	width: calc(100% - 45px);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
	resize: none;
}

#sendbtn {
	border-radius: 20px;
	border: none;
	font-size: 22px;
	height: 37px;
	width: 40px;
	margin-left: 5px;
	background-color: hsl(280, 100%, 50%);
	float: right;
	color: white;
	padding-bottom: 2px;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
	cursor: pointer;
}

#sendbtn:hover {
	background-color: black;
}

#sendbtn:active {
	background: rgba(255, 255, 255, 0.4) !important;
	font-size: 20px !important;
}

.emojiPicker {
	top: calc(100% - 305px) !important;
	left: calc(100% - 265px) !important;
}



/* OVERLAY MESSAGES */
#modal {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	z-index: 1000;
	display: none;
}

#disconnect, #inactive {
	position: fixed;
	background: lightgray;
	border-radius: 10px;
	padding: 10px;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
	bottom: -150px;
	margin: 15px;
}

.rejoin {
	position: fixed;
	margin-top: 20px;
	font-size: 22px;
	border-radius: 15px;
	padding: 10px;
	background: white;
	color: black;
	border: none;
	left: -100px;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
	cursor: pointer;
	//height: 30px;
	//width: 55px;
	text-align: center;
}

.rejoin:active {
	background: lightgray;
	font-size: 20px;
}